version: "3.9"

networks:
  BNSS-subnet:
    external: true

services:
  nextcloud:
    image: nextcloud:28.0.2
    container_name: nextcloud
    restart: unless-stopped

    networks:
      BNSS-subnet:
        ipv4_address: 172.20.0.2

    ports:
      - "8080:80"

    volumes:
      - nextcloud_data:/var/www/html

volumes:
  nextcloud_data: