version: "3.9"

networks:
  BNSS-subnet:
    external: true

services:
  unbound:
    image: mvance/unbound:1.12.0
    container_name: unbound
    restart: unless-stopped

    networks:
      BNSS-subnet:
        ipv4_address: 172.20.0.3

    ports:
      - "53:53/udp"
      - "53:53/tcp"

    volumes:
      - ~/unbound-config/unbound.conf:/opt/unbound/etc/unbound/unbound.conf:ro
      # - ~/unbound-config/unbound.log:/opt/unbound/etc/unbound/unbound.log

    environment:
      - TZ=Europe/Stockholm

    logging:
      driver: syslog
      options:
        syslog-address: "udp://192.168.1.229:10514"
        tag: "unbound"