version: "3.9"

networks:
  BNSS-subnet:
    external: true

services:
  unbound:
    image: mvance/unbound:1.12.0
    container_name: unbound
    restart: unless-stopped

    networks:
      BNSS-subnet:
        ipv4_address: 172.20.0.3

    ports:
      - "53:53/udp"
      - "53:53/tcp"